.listItem {
    list-style: none;
    /* border: 1px solid rgb(169, 241, 169); */
    padding: 1rem;
    margin: 1rem;
}

.navContainer {
    display: flex;
    /* border: 1px solid green;  */
}

.pdgTop {
    padding-top: 1.5rem;
}